@model TBLSALARYMSTModel

@{
    var message = TempData["Exception"] != "" ? TempData["Exception"] : "";
    var SalaryID = TempData["SalaryID"] != null ? TempData["SalaryID"] : 0; 
}

<div>
    <div class="my-2">
        <h1 class="text-primary">Salary Form Page</h1>
    </div>

    <div class="m-1 p-1 bg-warning">
        <h3 class="text-white">
            @message
        </h3>
    </div>

    <div class="p-2">
        <form class="form-control" method="post" asp-action="SaveForm" asp-controller="TBLSALARYMST">
            
        <div class="my-2">
            <label class="form-label" asp-for="EMPID">Employee Name</label>
            <select class="form-select" asp-for="EMPID">
                <option value="">Select Employee Name</option>
                    @foreach(EMPDropDown x in ViewBag.EMPList)
                    {
                        <option value="@x.EMPID">@x.EMPName</option>
                    }
            </select>
            <span class="text-danger" asp-validation-for="EMPID"></span>
        </div>

        <div class="my-2">
            <label class="form-label" asp-for="MONTH">Salary Month</label>
            <select class="form-select" asp-for="MONTH">
                <option value="">Select Salary Month</option>
                <option value="JAN">JAN</option>
                <option value="FEB">FEB</option>
                <option value="MAR">MAR</option>
                <option value="APR">APR</option>
                <option value="MAY">MAY</option>
                <option value="JUN">JUN</option>
                <option value="JUL">JUL</option>
                <option value="AUG">AUG</option>
                <option value="SEP">SEP</option>
                <option value="OCT">OCT</option>
                <option value="NOV">NOV</option>
                <option value="DEC">DEC</option>
            </select>
            <span class="text-danger" asp-validation-for="MONTH"></span>
        </div>

        <div class="my-2">
            <label class="form-label" asp-for="SALARY">Salary</label>
            <input class="form-control" type="text" asp-for="SALARY" placeholder="Enter Salary"/>
            <span class="text-danger" asp-validation-for="SALARY"></span>
        </div>

        <input asp-for="ID" type="hidden"/>

        <div class="d-flex">
            <button class="btn btn-success me-2 text-white" type="submit">Save</button>
            <button class="btn btn-danger me-2 text-white" type="button">
                <a class="text-white" asp-action="CancelOperation" asp-controller="TBLSALARYMST">Cancel</a>
            </button>
            <button class="btn btn-warning" type="button">
                <a class="text-white" asp-action="ClearOperation" asp-controller="TBLSALARYMST" asp-route-ID ="@SalaryID" class="text-white">Clear</a>
            </button>
        </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}